#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.red {
  color: #e60300;
}

.btnBack {
  margin: 1rem 0;
}

.css-1pzfmz2-MuiInputBase-input-MuiOutlinedInput-input {
  border-radius: 0.5rem;
  color: black !important;
  background-color: #ddd !important;
  text-align: center;
}

.downloadIcon {
  color: red;
  font-size: 2rem;
}

.qr-generator {
  padding: 40px;
  background: #eee;
  margin: 20px auto;
  max-width: 460px;
  height: 800px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-image: url("poster.jpg");
  opacity: 0.7;
  overflow: visible;
}

.qr-generator .scan-to-check-in {
  margin: 0 auto;
}